<h1><%= @list.name %></h1>

<%=link_to "Add a new movie",  new_list_bookmark_path(@list)%>
<br><br>

<h2>Theese are not bookmarks:</h2>
<% @list.bookmarks.each do |mov| %>
<%#= cl_image_tag @bookmark.photo.key, height: 300, width: 400, crop: :fill %>
<strong><%= mov.movie.title %></strong> - <%= mov.movie.overview %>
<br>
<em>Comment: </em><%= mov.comment %>
<br>
<%= link_to "Delete this movie which is not a bookmark", bookmark_path(mov), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<br><hr>
<% end %>
<hr>
<br><br>
<%= link_to "delete this list", list_path(@list), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>

<%=link_to "Back to the lists",  lists_path%>
