<% if categorylist.photo.attached? %>
  <div class="banner-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path categorylist.photo.key, height: 300, width: 400, crop: :fill %>)">
  <% else %>
  <div class="banner-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://storage.needpix.com/rsynced_images/banner-949931_1280.jpg)">
  <% end %>
    <div class="container">
      <h1><%= @list.name %></h1>
      <div class="container center">
        <%=link_to "Add a new movie",  new_list_bookmark_path(@list), class: "btn btn-ghost btn-banner-list"%>
      </div>
    </div>
</div>



<h2>Theese are not bookmarks:</h2>
<div class="cards-movies container">
  <% @list.bookmarks.each do |mov| %>
    <div class="movie-card">
      <%= image_tag (mov.movie.poster_url) %>
      <br>
      <div class="movie-card-infos">
        <strong><%= mov.movie.title %></strong>
        <br><br>
        <%= mov.movie.overview %>
        <br><br>
        <em>Comment: </em><%= mov.comment %>
        <br><br>
        <%= link_to "Delete", bookmark_path(mov), class: "btn btn-ghost btn-delete-movie", data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <%= link_to "Delete this list", list_path(@list), class: "btn btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
  <br>
  <%=link_to "Back",  lists_path, class: "btn btn-back"%>
</div>

    <%#= cl_image_tag @bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <%#= cl_image_tag("mov.movie.poster_url",
      width: 400, height: 300, crop: :fill) %>
